<div class="notes-container">
  <div class="upper">
    <div class="app-title">
      <h1>Notes</h1>
      opt
    </div>
    <form class="form" [formGroup]="notesForm" (ngSubmit)="addNote()">
      <input type="text" name="title" id="title" class="inputBox" placeholder="Title" formControlName="title">
      <textarea name="note" id="onte" class="noteBox" placeholder="Write Any Note" rows="10" formControlName="note"></textarea>
      <button type="submit">Add Note</button>
    </form>
  </div>
  <div class="lower">
      <div class="note" *ngFor="let el of notes">
        <h2>{{el.title}}</h2>
        <p>{{el.note}}</p>
        <div class="buttons">
          <button>Edit</button>
          <button>Delete</button>
          <button>Show</button>
        </div>
      </div>
  </div>
</div>