$green: #22b455; $input-size: 18px;
$grey: #9f9f9f; $br: 7px; 
@mixin flex-align($j,$a){justify-content: $j;align-items: $a;}
.notes-container{
     display: flex;@include flex-align(flex-start, center);
     flex-direction: column;min-height: 100vh;background: $green;
     .upper{
          width: 100%;max-width: 512px; border-radius: $br;
          background: #f0f0f0;padding: 25px;margin-top: 50px;
          .app-title{margin: 10px 0;display: flex;@include flex-align(space-between, center); }
          .form{
               width: 100%;display: flex;flex-direction: column;
               @include flex-align(center, center);
               .inputBox, .noteBox{
                    width: 100%;padding: 8px 16px;
                    margin: 10px 0;font-size: $input-size;
                    border: 2px solid $grey;outline: none;
                    border-radius: $br;transition: .3s ease all;&:focus{border-color: $green;}
               }
               .noteBox{resize: vertical;margin: 0;&:focus{border-color: $green;}}
               button{
                    width: 100%;padding: 8px 16px;
                    font-size: $input-size;margin: 10px 0;
                    border: 2px solid $green;color: $green;
                    border-radius: $br;background: none;
                    outline: none;cursor: pointer;
                    transition: .3s ease all;&:hover{background: #22b455;color: white;}
               }
          }
     }
     .lower{
          margin: 10px 0;width: 100% !important;padding: 25px;column-count: 5;gap: 10px;
          .note{
               break-inside: avoid;background: #a4ffb5;
               max-width: 350px;padding: 25px 20px;
               border-radius: $br;margin: 10px;
               p,h1{overflow-wrap: break-word;}
               .buttons{
                    margin: 10px 0;display: flex;flex-wrap: wrap;
                    button{
                         width: 100%;padding: 10px 20px;
                         margin:5px;border: 2px solid $green;
                         background: none; outline: none;color: #22b455;
                         font-size: $input-size;border-radius: $br;cursor: pointer;
                         transition: .3s ease all;&:hover{background: #22b455;color: white;}
                    }
               }
          }
     }
}